# 빅데이터분석기사 코드 정리

### 기본 라이브러리

In [2]:
import pandas as pd
import numpy as np

### 1. 데이터 삽입

In [8]:
x_test_path = '/Users/minki/prepare_dataq_test/dataset/X_test.csv'
x_train_path = '/Users/minki/prepare_dataq_test/dataset/X_train.csv'
y_train_path = '/Users/minki/prepare_dataq_test/dataset/y_train.csv'

x_train = pd.read_csv(x_train_path, encoding='cp949')
x_test = pd.read_csv(x_test_path, encoding='cp949')
y_train = pd.read_csv(y_train_path, encoding='cp949')

### 2. 데이터 구조 파악

In [23]:
# 데이터 개수 및 null 개수 파악
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   object
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 273.6+ KB

In [27]:
# 데이터 구조 변경
# 위에서 cust_id는 int64로 표기되어 있지만 사실은 object형
x_train['cust_id'] = x_train['cust_id'].astype('object')
# .astype('object')
# .astype('float')
# .astype('str')
# .astype('int')

In [28]:
# 기초통계량 파악
# describe에서는 object형은 출력되지 않는다.(숫자가 아니여서 계산 불가)
x_train.describe()

,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기
count,3.500000e+03,3.500000e+03,1.205000e+03,3500.000000,3500.000000,3500.000000,3500.000000
mean,9.191925e+07,1.966424e+07,2.407822e+07,19.253714,2.834963,0.307246,20.958286
std,1.635065e+08,3.199235e+07,4.746453e+07,27.174942,1.912368,0.289752,24.748682
min,-5.242152e+07,-2.992000e+06,5.600000e+03,1.000000,1.000000,0.000000,0.000000
25%,4.747050e+06,2.875000e+06,2.259000e+06,2.000000,1.666667,0.027291,4.000000
50%,2.822270e+07,9.837000e+06,7.392000e+06,8.000000,2.333333,0.256410,13.000000
75%,1.065079e+08,2.296250e+07,2.412000e+07,25.000000,3.375000,0.448980,28.000000
max,2.323180e+09,7.066290e+08,5.637530e+08,285.000000,22.083333,1.000000,166.000000

In [35]:
# object형의 value 개수 세기(value는 자동적으로 내림차순)
x_train['주구매상품'].value_counts()
x_train.loc[:, '주구매상품'].value_counts().head() # 내림차순
x_train.loc[:, '주구매상품'].value_counts().sort_values(ascending = True).head() # 오름차순

악기        2
소형가전      2
남성 트랜디    2
보석        3
통신/컴퓨터    3
Name: 주구매상품, dtype: int64

In [32]:
# 상관관계 조사. 마찬가지로 object형은 나오지 않는다.
x_train.corr()
# x_train['총구매액'].corr(x_train['최대구매액']) 1:1 관계로 상관계수 출력

             총구매액     최대구매액      환불금액      내점일수   내점당구매건수    주말방문비율      구매주기
총구매액     1.000000  0.700080  0.419734  0.659084  0.090022  0.014396 -0.212944
최대구매액    0.700080  1.000000  0.410562  0.374147  0.018980  0.022277 -0.115837
환불금액     0.419734  0.410562  1.000000  0.270290 -0.063114 -0.062397 -0.211125
내점일수     0.659084  0.374147  0.270290  1.000000  0.225264 -0.010325 -0.293200
내점당구매건수  0.090022  0.018980 -0.063114  0.225264  1.000000  0.007659 -0.091151
주말방문비율   0.014396  0.022277 -0.062397 -0.010325  0.007659  1.000000  0.003372
구매주기    -0.212944 -0.115837 -0.211125 -0.293200 -0.091151  0.003372  1.000000